{
  "trailingComma": "all",
  "quoteProps": "preserve",
  "embeddedLanguageFormatting": "auto",
  "printWidth": 80,
  "singleQuote": false,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSpacing": true,
  "arrowParens": "always"
}
