@import "./CharisSIL.css";
@import "modern-normalize/modern-normalize.css";

html {
  font-family: "Charis SIL", CharisSIL, CharisSILW, "Times New Roman",
    sans-serif;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.blocks .line {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.blocks .line .phoneme-block {
  align-items: center;
  border-radius: 4px;
  border: 2px solid #0003;
  color: #444;
  display: flex;
  height: 2em;
  justify-content: center;
  width: 2em;
}

.choice.chosen {
  text-decoration: underline;
}
