@import "npm:modern-normalize/modern-normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&family=Inter&display=swap");

body {
  --dimmed-color: #eff0f1;
  --accent-color: #5c68b7;
  --bg-color: #ffffff;
  --fg-color: black;
  --main-font: "Fira Sans", sans-serif;
  --tag-font: "Inter", sans-serif;
  accent-color: var(--accent-color);
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--main-font);
}

#app {
  --input-bg-color: #7f838f;
  --input-fg-color: white;
  --valid-input-bg-color: var(--accent-color);
  --valid-input-fg-color: white;
  --invalid-input-bg-color: salmon;
  --invalid-input-fg-color: white;
  --unknown-match-bg-color: #e7e8eb;
  --unknown-match-fg-color: #111111;
  --no-match-bg-color: #484a51;
  --no-match-fg-color: #ddd;
  --some-match-bg-color: #d4963a;
  --some-match-fg-color: white;
  --match-bg-color: #32b566;
  --match-fg-color: white;
  flex: 1 1 0;
}

@media (prefers-color-scheme: dark) {
  body {
    --dimmed-color: #eff0f1;
    --accent-color: #949cd0;
    --bg-color: #303135;
    --fg-color: black;
  }

  #app {
    --input-bg-color: #8593bd;
    --input-fg-color: white;
    --valid-input-bg-color: var(--accent-color);
    --valid-input-fg-color: white;
    --invalid-input-bg-color: salmon;
    --invalid-input-fg-color: white;
    --unknown-match-bg-color: #b1b5c1;
    --unknown-match-fg-color: black;
    --no-match-bg-color: #484a51;
    --no-match-fg-color: #c2c5cc;
    --some-match-bg-color: #d4963a;
    --some-match-fg-color: white;
    --match-bg-color: #32b566;
    --match-fg-color: white;
  }
}
